@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html, 
body{
    height: 100vh;
    font-family: "Source Sans Pro", 'Times New Roman';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
/*header*/
header{
    background-color: #0080ed;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    height: 80px;
    margin: auto;
}
header nav ul{
    display: flex;
}
header nav ul li{
    list-style: none;
}
#checkbox-menu{
    display: none;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 24px;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover{
    background: rgba(255, 255, 255, 0.15);
}
header .container img{
    height: 30px;
}
/*Main*/
main{
    margin-bottom: 100px;
}

main .container-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    margin: 100px auto 0px auto;
}
h2{
    color: rgb(0,0,0);
    font-size: 45px;
    line-height: 50px;
    font-weight: bold;
}
h3{
    color: rgb(131, 131, 131);
    font-size: 20px;
    line-height: 28px;
    margin: 10px 0;
}
form{
    margin-top: 20px;
}

form input{
    width: 300px;
    padding-left: 15px;
    font-size: 18px;
    height: 45px;
    margin-bottom: 13px;
    border-radius: 20px;
    border: 2px solid #0080ed;
}
form [type="submit"]{
    background-color: #0080ed;
    color: white;
    width: 150px;
    padding-left: 0px;
    font-size: 16px;
    height: 40px;
}
form [type="submit"]:hover{
    cursor: pointer;
    background-color: rgba(0, 128, 237, 0.75);
    transform: translateY(-2px);
}
main.container-main img{
    width:600px;
}

/*CARDS*/
.cards{
    width: 90%;
    max-width: 980px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}

.text--medium{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: rgb(187,185,185)
}
.card{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 5px 5px 14px -4px #000000;
    transition: all 0.0s ease 0s;
    margin: 10px;
    border-radius: 10px;
}
.card:hover{
    transform: translateY(-7px);
}
.image{
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    border-radius: 10px 10px 0px 0px;
    height: 225px;
}

.image img{
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content{
    margin: 20px;
}
.title{
    margin-bottom: 0px;
}
.form{
    display: flex;
    margin: 100px auto;
    padding: 10px 0;
    background-color:white;
    justify-content: left;
    max-width: 980px;
    width: 100%;
    border-radius: 0;
    
    /*background-image: linear-gradient(#0080ed, #084f8d);*/

}

h2.textContato{
    
    text-align: center;
    margin-bottom: 30px;
    color:white;
    margin-left: 0;
    
}

div.desafio{
    display: flex;
    width: 100%;
    height: 100%;
    justify-items: left;    
}

label.textForms{
    width: 100%;
    font-size: 18px;
    color: white;
    margin-left: 10px;        
}
#textFormsName impotant{
    text-align: left;
}
.formContato{
    width: 100%;
    align-items: left;
    padding: 40px;
    height: auto;
    border: none;
    border-radius: 10px 0px 0px 10px;
    background-color:#0080ed;
    /*box-shadow: 5px 5px 3px -4px black;*/
}
input.inputNome{
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
    background-color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 2px -1px black;
}
input.inputNome:focus{
    border: 2px solid black;
}
input.inputEmail{
    margin-left: 0;
    width: 100%;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 2px -1px black;
}
input.inputEmail:focus{
    border: 2px solid black;
}

textarea{
    width: 100%;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-family: "Source Sans Pro", 'Times New Roman';
    height: 150px;
    font-size: 18px;
    box-shadow: 1px 1px 2px -1px black;
    
}
textarea:focus{
    border: 2px solid black;
}
#buttonEnviar{
    font-size: 25px;
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
    color:black;
    border: none;
    background-color: gold;
    box-shadow: 2px 2px 2px -2px black;
    height: 50px;
}
#buttonEnviar:hover{
    border: 2px solid black;
   
}
#formulario{
    display: flex;
    width: 100%;
}
.adressContact{
    width: 100%;
    display: flex;
    padding: 20px 0px 0px 0px;
    
    background-color: white;
    
}
.boxContact{
    padding: 20px;
    padding-top: 40px;
    width: 100%;
    border: 5px solid #0080ed;
    border-radius: 0px 10px 10px 0px;
    background-color: #0080ed;
    color: white;
    font-size: 20px;
}
.redesSociais{
    justify-content: baseline;
    margin-top: 20px;
}
img{
    margin: 5px;
}
img:hover{
    transform: translateY(-4px);
    box-shadow: 2px 2px 4px -2px black;
    cursor: pointer;
}
h1.nossosDados{
    text-align: center;
    margin-bottom: 40px;
    padding: 0;
}
div.campoRedes{
    margin-top: 25px;
    position: relative;
    bottom: 0;
}
